{% extends "score/layout.html" %}
{% load static %}

{% block body %}

    <div class="cabecera">

        <h2 class="title">Change Password:</h2>

        <div class="message">
            {% if message %}
                <p><b>{{ message }}</b></p>
            {% endif %}
        </div>

    </div>

    <div class="form">
        <form action="{% url 'changePassword' %}" method="post">
            {% csrf_token %}
            <ul class="form-container">
                <li>
                    <input autofocus class="form-input" type="password" name="password" placeholder="Password">
                </li>
                <li>
                    <input class="form-input" type="password" name="newPassword" placeholder="New Password">
                </li>
                <li>
                    <input class="form-input" type="password" name="confirmNewPassowrd" placeholder="Confirm New Password">
                </li>

                <li><input class="form-input form-button" type="submit" value="Change Password"></li>

            </ul>
        </form>
    </div>

{% endblock %}