{% extends "score/layout.html" %}
{% load static %}

{% block body %}

    <div class="cabecera">

        <h2 class="title">Register:</h2>

        <div class="message">
            {% if message %}
                <p><b>{{ message }}</b></p>
            {% endif %}
        </div>

    </div>

    <div class="form">
        <form action="{% url 'register' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <ul class="form-container">
                <li>
                    <input class="form-input" autofocus type="text" name="username" placeholder="Username">
                </li>
                <li>
                    <input class="form-input" autocomplete="off" type="email" name="email" placeholder="Email Address">
                </li>
                <li>
                    <input class="form-input" type="text" name="nombre" placeholder="Nombre">
                </li>
                <li>
                    <input class="form-input" type="text" name="apellido" placeholder="Apellido">
                </li>
                <li>
                    <input class="form-input" autocomplete="off" type="number" name="dni" placeholder="DNI">
                </li>
                <li> ¿Sos propietario?
                    <select class="form-input" name="propietario">
                        <option disabled>¿Es propietario?</option>
                        <option value="no">No</option>
                        <option value="si">Si</option>
                    </select>
                </li>
                <li> ¿Sos inquilino?
                    <select class="form-input" name="inquilino">
                        <option disabled>¿Es inquilino?</option>
                        <option value="no">No</option>
                        <option value="si">Si</option>
                    </select>
                </li>
                <li> Foto de Perfil:
                    <input class="form-input" type="file" name="adjunto" accept=".pdf,.jpg,.png">
                </li>
                <li>
                    <input class="form-input" type="password" name="password" placeholder="Password">
                </li>
                <li>
                    <input class="form-input" type="password" name="confirmation" placeholder="Confirm Password">
                </li>
                <li><input class="form-input form-button" class="btn btn-primary" type="submit" value="Register"></li>

                <li>Ya tenes una cuenta? <a href="{% url 'login' %}">Log In.</a></li>
            </ul>
        </form>
    </div>

{% endblock %}